:root {
    --header-colour: #001974;

    --bg: #dedede;

    --r4-yellow: #fbc726;

    /* BrokenShapes Colours */
    --bs-col-stroke: var(--bg);
    --bs-col-1: hsla(220, 75%, 60%, 0.3);
    --bs-col-2: hsl(270 70% 60% / 0.3);
    --bs-col-3: hsl(200 80% 55% / 0.3);
    --bs-col-4: hsl(190 75% 50% / 0.3);
}

body {
    margin: 0;
    background-color: var(--bg);
}

.align-center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}